<p>Вие изпратихте  следните данни:</p>
<p><strong>Имe:</strong> <%= @username %>, <strong>телефон:</strong> <%= @phone %>,
  <strong>e-mail:</strong> <%= @email %>, <strong>избрана опция:</strong> <%= @option %></p>
<p><strong>Коментарий:</strong> <%= @comment %></p>